accelerate==0.33.0
beartype==0.18.5
descript_audio_codec==1.0.0
fast_bss_eval==0.1.4
fastdtw==0.3.4
json5==0.9.25
librosa==0.10.2.post1
memory_efficient_attention_pytorch==0.1.6
natsort==8.4.0
onnxruntime==1.16.3
openai_whisper==20240930
pedalboard==0.9.13
pesq==0.0.4
pysptk==1.0.1
pystoi==0.4.1
PyYAML==6.0.2
setuptools==72.1.0
soundfile==0.12.1
soxr==0.4.0
torch==2.3.1
torchaudio==2.3.1
torchmetrics==1.5.1
torchvision==0.18.1
tqdm==4.66.5
transformers==4.44.1
resampy
pandas
